.top-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.top-moving-cloud {
  position: absolute;
  top: -20%;
  left: 15%;
  height: 50%;
}

.heading_div {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
}

.heading_div_parent {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;

}
.heading_div_1 {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading_div_2 {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  
 
}
.top-main-text{
  font-size: 6rem;
  font-family:  Montserrat;
}
.top-subhead{
  font-size: 2.5rem;
  font-family:  Montserrat;
}
.top-cloud-and-sun{
  height: 100%;
}